* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    */
    font-family: sans-serif;
    color: white;
}

#table {
    /*border: 1px solid black;*/
    /* prevent from touching the border */
    padding: 5; 
    /* prevent elements from almost touching each other */
    border-spacing: 10;
    width: 310;
    /* prevent highlighting for smoother user experience while selecting rows */
    user-select: none;
    /* make table more visible by adding a black transparent background" */
    background: rgba(0, 0, 0, 0.25);
    /* auto width (for background) */
    width: auto;
}

#time {
    text-align: center;
}

#start-button,
#stop-button,
#pause-button,
#append-button,
#split-button,
#delete-button,
#insert-above-button,
#insert-below-button,
#reset-button,
#set-game-button {
    width: 100;
    /* make it clickable */
    -webkit-app-region: no-drag;
}

#user-input {
    width: 307.5;
    height: 25;
    /* make it clickable */
    -webkit-app-region: no-drag;
}